<%@ Page Language="vb" AutoEventWireup="false" Codebehind="Call.aspx.vb" Inherits="Benchmark._Call"%>
<%@ Register TagPrefix="igtab" Namespace="Infragistics.WebUI.UltraWebTab" Assembly="Infragistics.WebUI.UltraWebTab.v5.3, Version=5.3.20053.50, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>Call</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<igtab:UltraWebTab id="UltraWebTab1" style="Z-INDEX: 101; LEFT: 104px; POSITION: absolute; TOP: 96px"
				runat="server" Width="696px" Height="352px"></igtab:UltraWebTab>
		</form>
	</body>
</HTML>
