.normal
{
	font-family: Verdana; 
	font-size: 10px;
	color: #3C686F;
	line-height:16px;
}


.summarytitle
{
	font-family: Verdana; 
	font-size: 14px;
	font-weight: 700;
	color: black;
	line-height:16px;
}

.de_table
{
    border-color: #D1D1D1;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
   	font-family: Verdana; 
	font-size: 10px;
	color: #3C686F;
	line-height:20px;
}

.tableTitle
{
	background-color: #3C686F;
   	font-family: Verdana; 
	font-size: 15px;
	color: white;
	font-weight: 700;
	line-height:20px;
	text-align:left
}
